#video{
    width: 50%;
    margin: 0 auto;
}

#videoDirec{
    width: 50%;
    padding-top: 25px;
}

#video{
    width: 100%;
}

#videoFrame{
    width: 100%;
    height: 100%;
    border-radius: 9px;
    box-shadow: 5px 5px 10px black;
}

#content{
    display: flex;
}

#ingridient{
    width: 25%;
    padding: 25px;
}

#ingContent{
    width: 100%;
    padding: 5px 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    border: 1px solid lightgray;
}

#direction{
    width: 100%;
    padding: 9px 0;
}

#dirContent{
    width: 100%;
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}
#ingridient h2{
    color: #81750b;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

#ingridient span{
    font-size: 16px;
    font-weight: bold;
}

#ingridient ul,
#direction ul{
    margin: 10px 0;
}

#ingridient ul li,
#direction ul li
{
    padding: 5px 0;
    display: flex;
    line-height: 23px;
}

#ingridient ul li i ,
#direction ul li i{
    margin-right: 5px;
    width: 23px;
    height: 23px;
    line-height: 20px;
    font-weight: bold;
    color: #535a66;
}